_site
_archive
node_modules
.jekyll-cache
.vscode
.bundle
.bundle/*
*.log
*.lock
*.sh
.DS_Store
*/.DS_Store
*/*/.DS_Store
ltximg/
*/ltximg/
*/*/ltximg/
_posts/*.html
_posts/*/*.html
_posts/*/*/*.html
