{%- comment -%} tag = tag_name@top_tag {%- endcomment -%}
{%- comment -%} tag = top_tag@Tags {%- endcomment -%}
{%- comment -%} Collect top groups {%- endcomment -%}
{%- assign top_tags = "" | split: '' -%}

{%- for tag in site.tags -%}
  {%- assign last_tag_split = tag[0] | split: '@' | slice: -1 -%}

  {%- if last_tag_split[0] != "Tags" -%}
    {%- assign top_tags = top_tags | push: last_tag_split[0] -%}
  {%- else -%}
    {%- assign first_tag_split = tag[0] | split: '@' | slice: 0 -%}
    {%- assign top_tags = top_tags | push: first_tag_split[0] -%}
  {%- endif-%}
{%- endfor -%}

{%- assign top_tags = top_tags | uniq -%}

{%- assign top_tag_doms = "" | split: '' -%}
{%- assign sub_tag_collapse_doms = "" | split: '' -%}

{%- for top_tag in top_tags -%}
  {%- assign sub_tag_doms = "" | split: '' -%}
  {%- assign top_tag_posts = "" | split: '' -%}

  {%- for tag in site.tags -%}
    {%- assign first_tag_split = tag[0] | split: '@' | slice: 0 -%}
    {%- assign last_tag_split = tag[0] | split: '@' | slice: -1 -%}

    {%- if first_tag_split[0] == top_tag and last_tag_split[0] == "Tags" -%}
      {%- assign top_tag_posts = top_tag_posts | concat: tag[1] -%}
    {%- elsif last_tag_split[0] == top_tag -%}
      {%- comment -%} Collect sub tags {%- endcomment -%}
      {%- assign top_tag_posts = top_tag_posts | concat: tag[1] -%}
      {%- capture sub_tag_dom -%}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
                data-encode="{{ tag[0] | strip | url_encode }}" class="tag-button" title="{{ tag[0] }}" role="button"
                rel="{{ tag[1].size }}">
          {{ first_tag_split }}
          <sup>{{ tag[1].size }}</sup>
        </a>
      {%- endcapture -%}

      {%- assign sub_tag_doms = sub_tag_doms | push: sub_tag_dom -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign top_tag_post_count = top_tag_posts | uniq | size -%}
  {%- capture tag_dom -%}
    <a data-sort="{{ site.posts.size | minus: top_tag_post_count | prepend: '0000' | slice: -4, 4 }}"
        data-encode="{{ top_tag | strip | append: '@Tags' | url_encode }}" class="tag-button" title="{{ top_tag }}" role="button"
        rel="{{ top_tag_post_count }}"
        data-toggle="collapse" href="#{{ top_tag }}-sub-tags">
      {{ top_tag }}
      <sup>{{ top_tag_post_count }}</sup>
      {%- if sub_tag_doms.size != 0 -%} <sup> {{ "• " }} </sup> {%- endif -%}
    </a>
  {%- endcapture -%}
  {%- assign top_tag_doms = top_tag_doms | push: tag_dom -%}

  {%- capture sub_tag_collapse_dom -%}
    <div class="collapse" id="{{ top_tag }}-sub-tags" data-parent="#tagcloud-container">
      {%- if sub_tag_doms.size != 0 -%}
        <h5>「{{ top_tag }}」的子标签</h5>
        {{ sub_tag_doms | sort }}
      {%- endif -%}
    </div>
  {%- endcapture -%}
  {%- assign sub_tag_collapse_doms = sub_tag_collapse_doms | push: sub_tag_collapse_dom -%}
{%- endfor -%}

{%- comment -%} RENDER {%- endcomment -%}

<a class="tag-button--all" data-encode="" role="button" data-toggle="collapse" href="#ShowAll">
  Show All
  <sup>{{site.posts.size}}</sup>
</a>

{{ top_tag_doms | sort }}

{%- comment -%}WORKAROUND: https://github.com/twbs/bootstrap/issues/10966{%- endcomment -%}
<div id="tagcloud-container">
  <div class="panel" style="box-shadow: none;">
    <div class="collapse" id="ShowAll" data-parent="#tagcloud-container"></div>
    {{ sub_tag_collapse_doms }}
  </div>
</div>
