<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <div class="tags">
                    {%- for tag in page.tags -%}
                        {%- assign cur_tag_group = tag | split: '@' | slice: -1 -%}
                        {%- assign tag_group_len = cur_tag_group[0] | size | plus: 1 -%}
                        {%- assign tag_name_len = tag | size | minus: tag_group_len -%}

                        <a class="tag"
                           href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}"
                           title="{{ tag | slice: 0, tag_name_len }}">{{ tag | slice: 0, tag_name_len }}</a>
                    {%- endfor -%}
                </div>

                {%- assign _title_first_char = page.title | slice: 0 -%}
                {%- if _title_first_char == '「' -%}
                    {%- assign title_slice = page.title | split: '」' -%}
                    <h3 class="leading-heading">{{ title_slice | first | remove_first: '「' }}</h3>
                    <h1>{{ title_slice | shift | join: '」' }}</h1>
                {%- else -%}
                    <h1>{{ page.title }}</h1>
                {%- endif -%}
                {%- comment -%} always create a h2 for keeping the margin {%- endcomment -%}
                <h2 class="subheading">{{ page.subtitle }}</h2>
                <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
            </div>
        </div>
    </div>
</div>
