---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{%- if page.header-img -%}{{ page.header-img }}{%- else -%}{{ site.header-img }}{%- endif -%}" width="0" height="0"> -->

<!-- Post Header -->
{%- include intro-header.html type = 'post' -%}

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <!-- Post Container -->
      <div class="col-lg-10 col-lg-offset-0 col-md-10 col-md-offset-1 post-container">
        <span id="top-anchor"></span>
        {{ content }}
        <span id="end-anchor"></span>

        <hr style="visibility: hidden" />
        <ul class="pager">
          {%- if page.previous.url -%}
            <li class="previous">
              <a
                href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
                data-toggle="tooltip"
                data-placement="top"
                title="{{page.previous.title}}">
                Previous<br/>
                <span>{{ page.previous.title }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if page.next.url -%}
            <li class="next">
              <a
                href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
                data-toggle="tooltip"
                data-placement="top"
                title="{{page.next.title}}">
                Next<br/>
                <span>{{ page.next.title }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
        <hr style="visibility: hidden" />

        <!-- Comments -->
        {%- include comments.html -%}
      </div>

      <!-- Side Catalog Container -->
      {%- unless page.no-catalog -%}
        <div class="col-lg-2 col-lg-offset-0 visible-lg-block sidebar-container catalog-container">
          <div class="side-catalog">
            <hr class="hidden-sm hidden-xs" />
            <h5>
              <a class="catalog-toggle" href="#">CATALOG</a>
            </h5>
            <ul class="catalog-body"></ul>
            <hr class="hidden-sm hidden-xs" />
            <a href="#top" style="text-decoration: none;">▲ TOP</a>
          </div>
        </div>
      {%- endunless -%}
    </div>
  </div>
</article>

<!-- add support for mathjax-->
{%- if page.mathjax -%}
  {%- include mathjax_support.html -%}
{%- endif -%}

<!-- add support for katex-->
{%- if page.katex -%}
  {%- include katex_support.html -%}
{%- endif -%}

<!-- add support for anchorjs -->
{%- if site.anchorjs -%}
  {%- include anchor-js.html -%}
{%- endif -%}

<!-- Clickable Images -->
{%- include clickable-image.html -%}